@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue Regular.otf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url("../fonts/Montserrat-ExtraLight.otf");
}

@font-face {
    font-family: Montserrat-Thin;
    src: url("../fonts/Montserrat-Thin.otf");
}